
         body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            width: 100%;
            max-width: 400px;
            background-color: #fff;
            padding: 20px;
            border-radius: 20px;
            box-shadow:  10px 2px #ceeb79;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logo {
            height: 50px;
            margin-bottom: 20px;
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }

        .title {
            font-size: 28px;
            color: #9ac716;
            font-weight: 600;
            letter-spacing: -1px;
            margin-bottom: 10px;
        }

        .form label {
            position: relative;
            flex: 1;
        }

        .form label .input {
            width: 100%;
            padding: 10px 10px 20px 10px;
            outline: 0;
            border: 1px solid rgba(105, 105, 105, 0.397);
            border-radius: 10px;
        }

        .form label .input + span {
            position: absolute;
            left: 10px;
            top: 15px;
            color: grey;
            font-size: 0.9em;
            cursor: text;
            transition: 0.3s ease;
        }

        .form label .input:placeholder-shown + span {
            top: 15px;
            font-size: 0.9em;
        }

        .form label .input:focus + span, .form label .input:valid + span {
            top: 30px;
            font-size: 0.7em;
            font-weight: 600;
        }

        .form label .input:valid + span {
            color: green;
        }

        .submit {
            border: none;
            outline: none;
            background-color: #9ac716;
            padding: 10px;
            border-radius: 10px;
            color: #fff;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        .submit:hover {
            background-color: #9ac716;
        }

        .forgot-password {
            text-align: right;
            font-size: 14px;
            color: royalblue;
            text-decoration: none;
        }

        .forgot-password:hover {
            text-decoration: underline;
        }
    